# Visual Studio files and directories
.vs/
.vscode/
*.user
*.suo

# Source control
.git/
.gitignore

# Binaries and build outputs
**/bin/
**/obj/

# NuGet packages
*.nupkg
**/packages/
!**/packages/build/ # keep build directory

# Azure Web App publish scripts
PublishScripts/

# Other common files
.env
docker-compose.yml
docker-compose.*.yml
